.login-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(33deg, #5077c4, #43b0cb);
  
    .error, label {
      color: #ffffff;
    }
  
    .login-form {
      width: 50%;
      height: 350px;
      max-width: 500px;
      border-radius: 20px;
      border: 30px solid white;
      background-color: white;
      box-shadow: 8px 11px 6px 0 rgba(0, 0, 0, 0.12);
  
      > div {
        position: relative;
        height: -webkit-fill-available;
        border-radius: 11px;
        padding: 40px;
        border: 1px solid white;
        background-image: linear-gradient(33deg, #43b0cb, #5077c4);
      }
    }
  
    button {
      position: absolute;
      bottom: 40px;
      right: 40px;
      color: #ffffff;
      background-color: #5077c4;
      border: 1px solid #5077c4;
  
      &:hover {
          background-color: #5077c4;
          border: 1px solid #5077c4;  
      }
    }

    input {
        height: 22px;
    }
  }