<div style="margin: 10px">
  <div style="display: flex; align-items: center; justify-content: space-evenly;">
    <app-canvas></app-canvas>

    <div class="info-container">
      <p>Название носочка: {{ sockViewService.sock?.name }}</p>
      <p>Автор: {{ sockViewService.sock?.username }}</p>
      <p>Сердечек: {{ sockViewService.sock?.likes }}</p>

      <button (click)="subscribeToAuthor()" class="success-button">{{ sockViewService.sock?.isUserSubscribe ? 'Отписаться' : 'Подписаться' }}</button>
      <button (click)="like()" class="success-button">Лайк</button>
    </div>
  </div>

  <app-comments [sockId]="sockId"></app-comments>

</div>
