jobs:
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - run:
          command: >
            echo $TEST
            echo $HEROKU_APP_NAME
            echo "The command above installs Heroku, the command below deploys.
            What you do inbetween is up to you!"
      - heroku/deploy-via-git
orbs:
  heroku: circleci/heroku@1.2.4
version: 2.1
workflows:
  heroku_deploy:
    jobs:
      - deploy:
          context: test
