jobs:
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - run:
          name: update-curl
          command: |
            sudo apt install curl
            curl -sL https://deb.nodesource.com/setup_lts.x | sudo bash -
      - run:
          name: update-nodejs
          command: sudo apt-get install nodejs
      # - run:
      #     name: update-npm
      #     command: sudo apt-get install npm
      # - restore_cache:
      #     path: ./static
      #     keys:
      #       - v1-dependencies-{{ checksum "package-lock.json" }}
      #       - v1-dependencies-
      - run:
          path: ./static
          name: Install local dependencies
          command: npm install
      - run:
          path: ./server
          name: Install local dependencies
          command: npm install
      - run:
          path: ./server
          name: build server
          command: npm run build
      - run:
          path: ./static
          name: build app
          command: npm run build && cd dist && ls
      - store_artifacts:
          name: store artifacts
          path: ./static/dist
      # - persist_to_workspace:
      #     root:  ~/project
      #     path: ./static/dist/socks-shop/
      - run:
          name: Deploy Master to Heroku
          path: ./server/dist
          command: |
            git add .
            git commit -m "SADASD"
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master
orbs:
  heroku: circleci/heroku@1.2.4
version: 2.1
workflows:
  heroku_deploy:
    jobs:
      - deploy:
          context: test

