jobs:
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - run:
          name: install curl
          command: |
            sudo apt install curl
            curl -sL https://deb.nodesource.com/setup_lts.x | sudo bash -
      - run:
          name: install nodejs
          command: sudo apt-get install nodejs
      - run:
          name: install global typeScrypt
          command: npm i typescript
      - run:
          path: ./static
          name: Install local dependencies for frontend
          command: npm install
      - run:
          path: ./server
          name: Install local dependencies for backend
          command: npm install
      - run:
          path: ./server
          name: build backend 
          command: tsc -p tsconfig.build.json && cp package.json ./dist && cd ./dist && npm i --production --parseable && rm package.json && rm package-lock.json
      - run:
          path: ./static
          name: build frontend
          command: npm run build
      # - store_artifacts:
      #     name: store artifacts
      #     path: ./static/dist
      # - persist_to_workspace:
      #     root:  ~/project
      #     path: ./static/dist/socks-shop/
      - run:
          name: Deploy Master to Heroku
          root: ./server/
          command: |
            git config --global user.email "$EMAIL"
            git config --global user.name "$NAME"

            git add -f ./server/dist
            git add -f ./static/dist
            git add -f package.json
            git commit -m "ASDSAD"

            heroku_url="https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git"

            if [ -n "$CIRCLE_BRANCH" ]; then
              git push -f $heroku_url $CIRCLE_BRANCH:main
            elif [ -n "$CIRCLE_TAG" ]; then
              git push -f $heroku_url $CIRCLE_TAG^{}:main
            else
              echo "No branch or tag found."
              exit 1
            fi

orbs:
  heroku: circleci/heroku@1.2.4
version: 2.1
workflows:
  heroku_deploy:
    jobs:
      - deploy:
          context: test
      # - heroku/deploy-via-git:
      #     context: test
      #     requires:
      #       - deploy
