jobs:
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - restore_cache:
          path: ./static
          keys:
          - v1-dependencies-{{ checksum "package-lock.json" }}
          - v1-dependencies-
      - run:
          path: ./static
          name: Install local dependencies
          command: npm install
      # Cache local dependencies if they don't exist
      - save_cache:
          path: ./static
          key: v1-dependencies-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - heroku/deploy-via-git
orbs:
  heroku: circleci/heroku@1.2.4
version: 2.1
workflows:
  heroku_deploy:
    jobs:
      - deploy:
          context: test
