jobs:
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - run:
          name: update-curl
          command: |
            sudo apt install curl
            curl -sL https://deb.nodesource.com/setup_lts.x | sudo bash -
      - run:
          name: update-nodejs
          command: sudo apt-get install nodejs
      # - run:
      #     name: update-npm
      #     command: sudo apt-get install npm
      # - restore_cache:
      #     path: ./static
      #     keys:
      #       - v1-dependencies-{{ checksum "package-lock.json" }}
      #       - v1-dependencies-
      - run:
          path: ./static
          name: Install local dependencies
          command: npm install
      - run:
          path: ./static
          name: build app
          command: npm run build && ls
      - store_artifacts:
          path: ./static/build/
      - persist_to_workspace
          root: ~/
          path: ./project/static/build/
      - heroku/deploy-via-git
orbs:
  heroku: circleci/heroku@1.2.4
version: 2.1
workflows:
  heroku_deploy:
    jobs:
      - deploy:
          context: test
