jobs:
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - run:
          command: |
            "ll"
            "cd ./static"
            "npm install"
            "npm run build
            "echo -------------"
      - heroku/deploy-via-git
orbs:
  heroku: circleci/heroku@1.2.4
version: 2.1
workflows:
  heroku_deploy:
    jobs:
      - deploy:
          context: test
