<img width="400px" style="margin: auto; display: block;" src="assets/bonk-goose.png" />

<span style="margin-top: 20px;">Чтобы не получить <a href="https://www.google.com/search?q=bonk&sxsrf=ALeKk02RB9m1vRZSCTQHolq0CPAbO87SZA:1619799110347&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj0jNH0rabwAhVnlosKHTOEBEAQ_AUoAXoECAEQAw&biw=2071&bih=1048" target="_blank">bonk</a> необходимо исправить следующие слова:</span>
<span style="text-align: center; display: inline-block; padding: 5px;">{{ data.join(', ') }}</span>
