:host {
  display: inline-flex;
  height: 100%;
}

.filters-container {
  display: inline-block;

  margin-top: 200px;

  width: 200px;
  height: 100%;

  text-align: center;

  button {
    margin: 5px;
  }
}

.cards-container {
  display: inline-block;

  width: calc(100% - 200px);
  height: 100%;

  padding-top: 67px;

  margin-top: 50px;
}
