@import '~@angular/material/theming';
@include mat-core();
$socks-shop-primary: mat-palette($mat-indigo);
$socks-shop-accent: mat-palette($mat-pink, A200, A100, A400);
$socks-shop-warn: mat-palette($mat-red);
$socks-shop-theme: mat-light-theme(
  (
    color: (
      primary: $socks-shop-primary,
      accent: $socks-shop-accent,
      warn: $socks-shop-warn,
    ),
  )
);

@include angular-material-theme($socks-shop-theme);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

body {
  margin: 0;

  button {
    border: 1px dashed;
    padding: 0 10px;
  }

  .success-button {
    background-color: #fab53c;
  }

  .close-button {
    background-color: #c1b7b5;
  }
}

.p-grid {
  display: flex;
  padding: 10px 5px;
}
.p-col- {
  &1 {
    width: 8.3333%;
  }
  &2 {
    width: 16.6666%;
  }
  &3 {
    width: 25%;
  }
  &4 {
    width: 33.3333%;
  }
  &5 {
    width: 41.6666%;
  }
  &6 {
    width: 50%;
  }
  &7 {
    width: 58.3333%;
  }
  &8 {
    width: 66.6666%;
  }
  &9 {
    width: 75%;
  }
  &10 {
    width: 83.3333%;
  }
  &11 {
    width: 91.6666%;
  }
  &12 {
    width: 100%;
  }
}

.input-field {
  height: 20px;
  width: 100%;
}

.footer-space-evenly-button {
  display: flex;
  justify-content: space-evenly;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
