.header {
  position: fixed;

  width: 100%;
  height: 67px;
  padding: 20px;

  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  box-sizing: border-box;

  z-index: 100;

  .link-group {
    display: flex;
    justify-content: space-around;

    width: 500px;
  }
}
